@font-face{
    font-family: Cursed Timer ULiL;
    src: url(CursedTimerULiL.ttf);
}

body {
    margin: 0;
}

body{
    background: #1B244A;
    color:white;
}
.container {
    display: flex;
    justify-content: space-around;
    width:300px;
    margin: auto
}
h3{
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 2rem;
}
.count{
    background: #000;
    color:red;
    font-size:5rem;
    text-align: center;
    font-weight: bold;
    font-family: Cursed Timer ULiL;
}
.btn{
    background: transparent;
    border:1px solid #9AABD8;
    color:#9AABD8;
    margin-top: 0.3em;
}